<section class="cases" id="cases">
  <div class="container">
    <div class="slider">
      <div class="slider-wrapper">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
        perspiciatis id tempore commodi autem sed in, quam non? Obcaecati autem
        alias, voluptates esse libero velit magni minima at deserunt, vel iusto
        magnam dolore modi repellendus quae animi harum a consequatur ratione
        suscipit optio dolor ut vero possimus. Reprehenderit, non laboriosam.
      </div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
        perspiciatis id tempore commodi autem sed in, quam non? Obcaecati autem
        alias, voluptates esse libero velit magni minima at deserunt, vel iusto
        magnam dolore modi repellendus quae animi harum a consequatur ratione
        suscipit optio dolor ut vero possimus. Reprehenderit, non laboriosam.
      </div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
        perspiciatis id tempore commodi autem sed in, quam non? Obcaecati autem
        alias, voluptates esse libero velit magni minima at deserunt, vel iusto
        magnam dolore modi repellendus quae animi harum a consequatur ratione
        suscipit optio dolor ut vero possimus. Reprehenderit, non laboriosam.
      </div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
        perspiciatis id tempore commodi autem sed in, quam non? Obcaecati autem
        alias, voluptates esse libero velit magni minima at deserunt, vel iusto
        magnam dolore modi repellendus quae animi harum a consequatur ratione
        suscipit optio dolor ut vero possimus. Reprehenderit, non laboriosam.
      </div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
        perspiciatis id tempore commodi autem sed in, quam non? Obcaecati autem
        alias, voluptates esse libero velit magni minima at deserunt, vel iusto
        magnam dolore modi repellendus quae animi harum a consequatur ratione
        suscipit optio dolor ut vero possimus. Reprehenderit, non laboriosam.
      </div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
        perspiciatis id tempore commodi autem sed in, quam non? Obcaecati autem
        alias, voluptates esse libero velit magni minima at deserunt, vel iusto
        magnam dolore modi repellendus quae animi harum a consequatur ratione
        suscipit optio dolor ut vero possimus. Reprehenderit, non laboriosam.
      </div>
    </div>
  </div>
</section>
