<section class="solutions">
  <div class="container">
    <img
      class="sol-image"
      src="./images/team/team.jpg"
      alt="Our team"
      width="680"
      height="460"
    />

    <div class="solutions-content-wrapper">
      <p class="pre-sol-title">What you are looking for</p>
      <h3 class="sol-title">We provide bespoke solutions</h3>
      <p class="sol-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a class="sol-link link">Read more</a>
    </div>
  </div>
</section>
