.solutions .container {
  padding: 0;
  display: flex;
}

.sol-image {
  background-color: var(--accent-color);
}

.solutions-content-wrapper {
  background-color: var(--accent-color);
  padding: 84px 44px 84px 30px;
  width: 50%;
}

.pre-sol-title {
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 5px;
  color: var(--secondary-text-color);
}

.sol-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-bottom: 26px;
  color: var(--secondary-text-color);
}

.sol-text {
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 17px;
  color: var(--secondary-text-color);
}

.sol-link {
  display: inline-block;
  border: 1px solid var(--secondary-text-color);
  border-radius: 5px;
  line-height: 1.56;
  color: var(--secondary-text-color);
  padding: 11px 27px 12px 42px;
}
